.modal-container {
    font-size: 15px;
    max-width: 400px;
    position: fixed;
    background-color: rgba(171, 171, 171, 0.6);
    left: 25%;
    padding: 25px;
    color: white;
    border-radius: 100px;
    -webkit-transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
    transition: transform 200ms ease-out;
}

/*before press the href*/
.modal:before {
    content: "";
    position: fixed;
    display: none;
top(0);
left(0);
    height: 100%;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-container {
    -webkit-transform: translate(-50%, 40%);
    -ms-transform: translate(-50%, 40%);
    transform: translate(-50%, 40%);
}

.modal-container a {
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
}
/*between 0 to 1000px*/
@media screen and (max-width: 1000px) {
    .modal-container {
        font-size: 18px;
        max-width: 30%;
        left: 25%;
        position: absolute;

    }
}